<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Omar Adolfo Álvarez Hernández</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
